/* || General Formatting */
* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-logo-line {
  font-size: 50px;
  color: #dd1972;
}

header {
  background-color: #404041;
  height: 15vh;
  color: white;
  text-align: center;
}

.logo-emphasis {
  font-weight: 700;
}

main {
  display: flex;
  flex-flow: row;
  height: 100vh;
}

section {
}

/* || Left and Right Section Formatting*/
/* || Left Section Formatting */
.left-side {
  color: #404041;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  background-color: #f7f7f7;
  border-right: 1px solid #8b8b8b;
}

.left-cards {
  background-color: white;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  border: 2px solid #d0d2d3;
  width: 95%;
  height: 130px;
  margin: 15px auto 0 auto;
  padding: 10px 15px;
}

h4 {
  /* background-color: red; */
}

.set-range-card {
}

.form-buttons {
  color: white;
  outline: none;
  background-color: #d0d2d3;
  padding: 5px 15px;
  margin: 5px 0 0 0;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  height: 33px;
}

.input-container {
  display: inline-block;
  width: 30%;
  /* padding: 3px 0 0 0; */
  margin-right: 20px;
}

.input-container input {
  width: 100%;
  border: 2px solid #d0d2d3;
  height: 33px;
}

/* || Right Section Formatting */
.right-side {
  display: flex;
  justify-content: center;
  padding-top:10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  background-color: #d0d2d3;
  border-left: 1px solid #8b8b8b;
}
.card {
  display: flex;
  flex-direction:column;
  width: 90%;
  min-width:425px;
  height: 210px;
  padding: 10px;
  background-color: white;
  border:solid 2px #8b8b8b;
  color:#6e6e6e;
  font-weight:300;
  font-size: 16px;
}

.card .verses-container{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow:1;
  width:100%;
  padding:0 20px;
  border-bottom: 2px solid #d0d2d3;
}

.card .stats-block {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding:0 5px;
  flex-grow:1;
  width:100%;
  border-top:2px solid #d0d2d3;
}
.card .winner-display{
  display:flex;
  flex-direction:column;
  justify-content: center;
  flex-grow:3;
  align-items: center;
}

.card .challenger{
  font-weight: 700;
  font-size: 16px;
}

.card .vs{
  display:flex;
  padding-bottom:4px;
  align-self:center;
  font-size:16px;
  color:#8b8b8b;
}

.card h1{
  font-weight: 300;
  font-size: 28px;
}
.card .bold{
  font-weight:700;
}
.close-card-button {
  width: 22px;
  height: 22px;
  position: relative;
  border-radius: 50%;
  background: #8b8b8b;
  cursor: pointer;
}
.cross{
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: #d0d2d3;
  border-radius: 0;
  left:3px;
  top: 9px;
  transform: rotate(45deg);
}
.vertical{
 transform:rotate(-45deg);
}
